{% extends "bootstrap/base.html" %}
{% block metas %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block styles %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}
{% block scripts %}
{% endblock %}
{% block title %}Istio test{% endblock %}
{% block content %}
<p>
    <h4>Counter: {{count.counter}} Hostname: {{count.hostname}}</h4>
</p>
<p>
    <h4>Dollar: {{dollar}}</h4>
</p>
<form action="" method="post">
    <p>
    <label for="message">Your message</label>
    <input type="text" name="message">
</p>
<p>
    <input type="submit">
</p>
</form>

<body>
    <div class="container">
        <h2>Messages</h2>
        <div class="list-group">
          {% for message in messages %}
          <a class="list-group-item">{{message}}</a>
          {% endfor %}
        </div>
      </div>
</body>


{% endblock %}

